*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build
/captures
.externalNativeBuild
.idea
**/src/main/gen
**/src/androidTest/gen
synchronization/src/main/res/raw/**/*.jks
synchronization/src/main/res/raw/**/*.cer
synchronization/src/main/res/raw/**/*.pem
