<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cyface.datacapturing"><!-- remove package with Gradle 8 [RFR-412] -->

    <!-- Required to keep the app from being send to sleep by the system. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required to access GNSS location providers -->
    <!-- (!) We do *not* need ACCESS_BACKGROUND_LOCATION as we only need location in Foreground Service-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- On Android 12+ we must request both FINE and COARSE, but add a handle to explicitly request FINE -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- On Android 14+ we need this permission for foregroundServiceType location -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <!-- Required to change periodic synchronisation intervals in the background -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Required to read current background synchronisation settings -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- Required to authenticate Cyface accounts with a Cyface server -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- Required to start a foreground service since SDK 28 (Android 9 / Pie) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <!-- Declares the data capturing service which is not exported to other applications.
        Most important is the android:process declaration with the ":" in the beginning.
        It tells the system to run the service in its own process. -->
        <!-- Foreground services in Q+ require type 'location' to get the location when the app
        is minimized. ACCESS_FINE_LOCATION and foregroundServiceType="location" is enough on Q+
        as long as we target the Q+ API. -->
        <!-- The "unused attribute" warning for foregroundServiceType can be ignored as this declaration
        requirement was added in Android Q so no handling is required for lower APIs. -->
        <service
            android:name=".backend.DataCapturingBackgroundService"
            android:description="@string/capturing_service_description"
            android:exported="false"
            android:foregroundServiceType="location"
            android:process=":capturing_process" />
    </application>
</manifest>
