<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for SharedTestUtils#cleanupOldAccounts() to search and delete accounts and adjust periodic sync -->
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
</manifest>