<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cyface.persistence">

    <application>
        <!-- ContentProvider required to share data with Android's `SyncAdapter` -->
        <provider
            android:name="de.cyface.persistence.MeasurementProvider"
            android:authorities="de.cyface.provider"
            android:exported="false"
            android:process=":persistence_process"
            android:syncable="true" />
    </application>
</manifest>
