<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cyface.persistence">

    <application>
        <provider
            android:name="de.cyface.persistence.MeasuringPointsContentProvider"
            android:authorities="de.cyface.provider"
            android:exported="false"
            android:process=":persistence_process"
            android:syncable="true" />
        <!-- FIXME: ensure a unique authority is used everywhere -->
        <provider
          android:name="de.cyface.persistence.V6ContentProvider"
          android:authorities="de.cyface.provider.v6"
          android:exported="false"
          android:process=":persistence_process_v6"
          android:syncable="true" />
    </application>
</manifest>
