<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cyface.persistence"><!-- remove package with Gradle 8 [RFR-412] -->

    <application>
        <!-- Stub Content provider required for the SyncAdapter. -->
        <provider
            android:name="de.cyface.persistence.content.StubProvider"
            android:authorities="de.cyface.provider"
            android:exported="false"
            android:process=":persistence_process"
            android:syncable="true" />
    </application>
</manifest>
