<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.cyface.persistence.test">

    <application>
        <!-- The integration test uses a different authority to be executed next to the default app (same device) -->
        <!-- But we replaced the Content Provider with a Stub Content provider. -->
        <provider
            android:name="de.cyface.persistence.content.StubProvider"
            android:authorities="de.cyface.persistence.test.provider"
            android:exported="false"
            android:process=":persistence_process"
            android:syncable="true"
            tools:replace="android:authorities" />
    </application>

</manifest>
