<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cyface.synchronization"><!-- remove package with Gradle 8 [RFR-412] -->
    <!-- Required to transmit data to a server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to check current synchronization interval and whether it is active or not-->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <!-- WTF!!! -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <!-- Required to enable continuous synchronization -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- Required to communicate with the authentication system to get the JWT token. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- Required to load the current user account from the system -->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS"/>-->
    <!-- Required to read JWT auth token from user account -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Required to delete Cyface accounts from the Android system -->
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <!-- Required to read the Cyface accounts currently registered with the system -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Required to check whether WiFi is active or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- Not exposing the Sync/Auth service as the system can still call them [CY-5524]. -->
        <!-- The tutorial (1) uses `exported: true` but the `android:exported` guide (2) says -->
        <!-- "If `false`, the activity can be launched ... [by] privileged system components." -->
        <!-- (1) https://developer.android.com/training/sync-adapters/creating-sync-adapter -->
        <!-- (2) https://developer.android.com/guide/topics/manifest/activity-element#exported -->
        <service
                android:name="de.cyface.synchronization.SyncService"
                android:exported="false"
                android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/sync_adapter" />
        </service>
        <service android:name="de.cyface.synchronization.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator" />
        </service>
    </application>
</manifest>
