<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required to transmit data to a server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to check current synchronization interval and whether it is active or not-->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <!-- Required to enable continuous synchronization -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Required to communicate with the authentication system to get the JWT token. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Required to read JWT auth token from user account -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Required to check whether WiFi is active or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
