<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="de.cyface.synchronization.test">
    <!-- Required to change WiFi state for testing. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Content provider used for storing and retrieving test data.-->
    <application>
        <provider
            android:name="de.cyface.persistence.MeasuringPointsContentProvider"
            android:authorities="de.cyface.synchronization.test.provider"
            android:exported="false"
            android:process=":persistence_process"
            android:syncable="true"
            tools:replace="android:authorities"/>

        <!-- Some connected synchronization Android tests need this for the test sync to start -->
        <service
            android:name="de.cyface.synchronization.CyfaceSyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <!-- Some connected Android tests need this to create a test account, or else we get -->
        <!-- SecurityException: ... cannot explicitly add accounts of type: ... -->
        <service android:name="de.cyface.synchronization.CyfaceAuthenticatorService"
            android:exported="false"
            android:process=":sync"> <!-- should be fine to use the sync process -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>
</manifest>
