<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="de.cyface.synchronization.test">
    <!-- Required to change WiFi state for testing. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Content provider used for storing and retrieving test data.-->
    <!-- `usesCleartextTraffic="true"' allows to test against a local API as in `SyncPerformerTest` -->
    <application
        android:usesCleartextTraffic="true">
        <provider
            android:name="de.cyface.persistence.v1.MeasuringPointsContentProvider"
            android:authorities="de.cyface.synchronization.test.provider"
            android:exported="false"
            android:process=":persistence_process"
            android:syncable="true"
            tools:replace="android:authorities"/>
    </application>
</manifest>
